@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:wght@200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Josefin Sans',sans-serif;
}
.text h2{
    font-family: 'Comforter';
}

.showcase{
    position: absolute;
    right: 0%;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color:white;
    z-index:2;
    background-color: bisque;
    transition: 0.5s;
}

body{
    background-color: bisque;
}
.showcase.active{
    right:300px;
    background-color: bisque;
}

.showcase header{
    position:absolute;
    top: 30px;
    width: 100%;
    padding: 10px 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    position: relative;
    width: 20px;
    height: 20px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.showcase video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.8;
}

.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text{
    position:relative;
    z-index: 100;

}
.text h2{
    padding: 10px 70px;
    font-size: 50px;
    font-weight: 100;
    line-height: 10px;
    letter-spacing: 0.05em;
}
.text p{
    padding: 5px 70px;
    font-size: 18px;
    margin: 20px 0px ;
    font-weight: 900;
    max-width: 800px;
}

.text a{
    display: inline-block;
    background: #fff;
    margin:0px 70px;
    font-size: 14px;
    padding: 10px 20px;
    color: #111;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: 0.2s;
}

.text  a:hover{
    letter-spacing: 0.3em;
}

.social{
    position: absolute;
    margin: 0px 70px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin: 0px 5px;
    transition: 0.4s;
    transform: scale(0.5)
}

.social li a:hover{
    transform: scale(1.5) translateY(-15px);
}

.menu{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: absolute;
    list-style: none;
    left: 400px;
    width: 150px;

}
.menu ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #111;
    line-height: 50px;
    font-weight: 900;
    transition: 0.2s;
}

.menu ul li a:hover{
    color: darkgoldenrod;
    letter-spacing: .25em;
    
}

@media (max-width: 798px) {
    .showcase,
    .showcase header{
        padding: 10px;
    }

    
    .text h2{
        font-size: 1em;
    }
    
}
